@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;700&display=swap');

:root{
    
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

body{
    background-color: #000115;
    overflow-x: hidden;
    padding:0;
    margin:0;
}

/* Estilo Header */
header{
    color:rgb(199, 199, 199);
    display:flex;
    justify-content: space-between;
    margin-left:-8px;
    width: 100vw;
    padding:10px;
    align-items: center;
    border-bottom: 1px solid rgb(199, 199,199);
   
}

nav{
    display:flex;
    padding-right: 50px;
}
ul{
 
}
.title{
    font-size: 20px;
    font-weight: 400;
    padding-left: 50px;
}
li{
    list-style: none;
    padding:7px;
    cursor:pointer;
    text-transform: uppercase;
}

/* Estilização Hover do menu Nav */

li:hover.earth{
    color:rgb(150, 255, 64);
       }
li:hover.mart{
    color:rgb(223, 100, 91);
       }

li:hover.venus{
     color:rgb(248, 235, 193);
        }
li:hover.saturno{
     color:rgb(255, 105, 5);
        }

li:hover.neptune{
     color:rgb(5, 184, 255);
        }
li:hover.jupiter{
     color:rgb(255, 218, 5);
        }
li:hover.urano{
     color:rgb(34, 253, 242);
        }
li:hover.mercury{
    color:rgb(247, 132, 161);
        }
            
/* Estilização da Main */
main{
    width: 1440px;
    margin:auto;
    color:white;
    max-width: 80vw;
    padding-top:60px;
    display:flex;

}

.planet-image{
    flex:3;
    height: 50vh;
    background-image: url('./images/planets/terra.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

main section{
    flex:2;
    max-width: 300px;
}

main section h2{
    font-size: 2.4rem;
    margin-top:20px;
    text-transform: uppercase;
    max-width: 200px;
    margin-bottom: 15px;
    
}
main section .description{
    font-size: 0.8rem;
    line-height:1.2rem;
    text-align: left;
    color:rgba(218, 218, 218, 0.925);
}
main section .source{
    font-size: 1rem;
    line-height:1.2rem;
    text-align: left;
    margin-top:1rem;
    color:rgba(139, 139, 139, 0.925);
}

main section .source a{
    color:rgba(206, 206, 206, 0.925);
}
main section .source a:visited{
    color:rgb(128, 4, 211);
}
main section .source a:focus{
    color:rgb(211, 4, 4);
}

/* Botoes */

.buttons{
    height: 110px;
    margin-top:20px;
    display:flex;
    justify-content: space-between;
    flex-flow:column nowrap;
    align-content: center;
    text-align: left;
    border-radius: 2px;
    
}
.active{
    background-color: rgb(108, 47, 221) !important;
}
.buttons button{
    padding:5px;
    display:flex;
    background-color:transparent;
    border:1px solid rgba(255, 255, 255, 0.568);
    color:white;
}

.buttons button div:first-child{
    color:rgb(126, 126, 126);
    margin-left: 12px;
    margin-right: 12px;
    font-family: 'Rajdhani', sans-serif;
}
.buttons button div{
   
    font-family: 'Rajdhani', sans-serif;
}
