@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500;700&display=swap');




::-webkit-scrollbar{
    width: 8px;
    border-radius: 10px;
    background-color: rgb(26, 5, 49);
}
::-webkit-scrollbar-thumb{
    width: 8px;
    background-color:indigo;
    border-radius:8px;
}

body{
    background-image: url('./images/background-stars.svg');
    overflow-x: hidden;
    padding:0;
    background-color: rgb(0, 3, 34);
    margin:0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

section{
    width: 1024px;
    max-width: 80vw;
    margin:auto;
}

/* Estilo Header */
header{
    color:rgb(199, 199, 199);
    display:flex;
    justify-content: space-between;
    margin-left:-8px;
    width: 100vw;
    height: 70px;
    padding:10px;
    align-items: center;
    border-bottom: 1px solid rgb(199, 199,199);
  
}   

nav{
    display:flex;
    padding-right: 50px;
}
ul{
 
}
.title{
    font-size: 2rem;
    font-weight: 400;
    padding-left: 50px;
}
li{
    list-style: none;
    padding:7px;
    cursor:pointer;
    text-transform: uppercase;
}

/* Estilização Hover do menu Nav */

li:hover.earth{
    color:rgb(150, 255, 64);
       }
li:hover.mart{
    color:rgb(223, 100, 91);
       }

li:hover.venus{
     color:rgb(248, 235, 193);
        }
li:hover.saturno{
     color:rgb(255, 105, 5);
        }

li:hover.neptune{
     color:rgb(5, 184, 255);
        }
li:hover.jupiter{
     color:rgb(255, 218, 5);
        }
li:hover.urano{
     color:rgb(34, 253, 242);
        }
li:hover.mercury{
    color:rgb(247, 132, 161);
        }
            
/* Estilização da Main */
main{
    
    margin:auto;
    color:white;
   
    padding-top:60px;
    display:flex;

}

.planet-image{
    flex:2;
  
     margin-top: 50px;
    margin-right: 20px;
    background-image: url('./images/planets/planet-earth.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

main section{
    flex:1;
    max-width: 350px;
    margin-left:30px;
     
}

main section h2{
    font-size: 3rem;
    margin-top:5px;
    text-transform: uppercase;
    max-width: 200px;
    margin-bottom: 5px;
    font-weight: 400;
    
}
main section .description{
    font-size: 1rem;
    line-height:1.4rem;
    text-align: left;   
    overflow: auto;   
    max-height: 120px;                             
    color:rgba(218, 218, 218, 0.925);
}
main section .source{
    font-size: 1.2rem;
    line-height:1.2rem;
    text-align: left;
    margin-top:1rem;
    color:rgba(139, 139, 139, 0.925);
}

main section .source a{
    color:rgba(206, 206, 206, 0.925);
}
main section .source a:visited{
    color:rgb(128, 4, 211);
}
main section .source a:focus{
    color:rgb(211, 4, 4);
}

/* Botoes */

.buttons{
    height: 160px;
    margin-top:20px;
    display:flex;
    justify-content: space-between;
    flex-flow:column nowrap;
    align-content: center;
    text-align: left;
    border-radius: 2px;
    
}
.active{
    background-color: rgb(108, 47, 221) !important;
}
.semi-active{
    background-color: rgba(108, 47, 221, 0.2) !important;
}


.buttons button{
    padding:12px;
    text-transform: uppercase;
    font-size: 1rem;
    display:flex;
    font-weight: 700;
    letter-spacing: 2px;
    background-color:transparent;
    border:1px solid rgb(32, 8, 73);
    color:white;
    cursor: pointer;
}

.buttons button div:first-child{
    color:rgb(126, 126, 126);
    margin-left: 12px;
    margin-right: 12px;
    font-family: 'Rajdhani', sans-serif;
}
.buttons button div{
   
    font-family: 'Rajdhani', sans-serif;
}


/* Parte de baixo */

.additional-info{
    display: flex;
    width: 100%;
    margin-top:50px;
    justify-content: space-between;
}

.additional-info-item{
    height: 100px;
    min-height: calc( fit-content + 200px);
    flex:1;
    overflow: hidden;
    text-overflow: ellipsis;

    padding-bottom: 5px;
    padding-left:15px;
    padding-right: 15px;
    margin:10px;
   
    border:1px solid rgb(32, 8, 73);
  
    margin-bottom:-20px;

}

.additional-info-title{
    color:rgba(151, 148, 148, 0.925);
    padding-top:20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.additional-info-data{
    color:aliceblue;
    font-size: 2.5rem;
    
}